Recuperando senha.
Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}).
Se você não foi o autor dessa requisição, seria legal trocar sua senha por segurança.
Para continuar com a recuperação de senha, utilize o token {{ token }}
ou o link abaixo:
{{ link }}"
